<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
 
      <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
 
      <!-- Be sure to leave the brand out there if you want it shown -->
      <%=link_to "RAKA INC", root_path, class: "brand" %>
 
      <!-- Everything you want hidden at 940px or less, place within here -->
      <div class="nav-collapse in collapse">
        <!-- .nav, .navbar-search, .navbar-form, etc -->
        <ul class="nav pull-right" id="navegacion">
          <li><%=link_to "Home", root_path %></li>
          <li><%= link_to "About Us", about_path %></li>          
          <% if user_signed_in? %>
            <li><%= link_to "Profile", edit_user_registration_path %></li>
            <li><%= link_to "Log out!", destroy_user_session_path,method: :delete %></li>
          <% else %>
            <li><%= link_to "Sign up!", new_user_registration_path %></li>
            <li><%= link_to "Log in!", new_user_session_path %></li>
          <% end %>
          <li><%= link_to cart_path do  %>
            <b class="icon-shopping-cart icon-white"></b> Cart
            <% end %>
          </li>
          <li><%= link_to "#{number_to_currency(current_cart.total)}", cart_path, id: "nav_precio" %></li>
        </ul>
      </div>
 
    </div>
  </div>
</div>