<!DOCTYPE html>
<html>
<head>
  <title>RakaInc</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<nav>
		<%= render 'layouts/navbar' %>		
	</nav>
	<div class="cuerpaso">
		<header class="page-header">
			<%= render 'layouts/header' %>
		</header>
		<% flash.each do |key, value|%>
	      <div class="span12 offset2 alert alert-<%= key%>"><%= value %></div>
	 	<% end %>
		<div class="row">		
			<nav class="span3">
				<%= render 'layouts/sidebar' %>
			</nav>
			<section class="span11">
				<% if es_index? %>
					<%= render 'layouts/carrusel' %>			
				<% end %>
				<%= yield %>			
			</section>
			<section class="span3">
				<%= image_tag("imagen.jpg") %>
			</section>
		</div>
	</div>
</body>
</html>
